<!doctype html>
<html ng-app="MyApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.min.js"></script>

  <!-- Angular material -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <!-- Custom files -->
  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon" />
  <script src="static/api_service.js"></script>
  <script src="static/main.js"></script>
  <script src="static/controller.js"></script>
  <link rel=stylesheet type=text/css href="static/styles/style.css">

  <title>Excel To Confluence</title>

</head>
{% raw %}
<body ng-controller="MainController">
  <md-content>
    <md-toolbar class="title">
      <md-icon class="title-icon" md-svg-src="static/images/logo.svg"></md-icon>
      <h2 flex md-truncate>Export an excel file into confluence</h2>
    </md-toolbar>
  </md-content>
  <md-content>
    <md-card>
      <div id="dropArea" ng-class="{hovering: hovering}">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Drag & Drop your excel file here</span>
            <span class="md-subhead">Drop your Excel file here to start the convertion to confluence table code</span>
          </md-card-title-text>
        </md-card-title>
      </div>
    </md-card>

    <md-progress-linear md-mode="indeterminate" ng-if="loading || confluenceService.loading"></md-progress-linear>

    <md-card ng-if="excel.sheets.length > 0">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Excel configuration</div>
      </md-toolbar>

      <md-card-content>
        <div class="block" layout-gt-sm="row">
          <md-input-container>
            <label>sheet</label>
            <md-select ng-model="excel.sheet" ng-change="checkWorkbook">
              <md-option ng-repeat="name in excel.sheets" ng-value="name" ng-selected="data[name] !== undefined">
                {{name}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Header Row</label>
            <input ng-model="excel.header_row" ng-change="checkWorkbook" type="number">
            </input>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>


    <md-card ng-if="data !== undefined">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Confluence Export</div>
      </md-toolbar>
      <md-nav-bar
        md-no-ink-bar="disableInkBar"
        md-selected-nav-item="confluenceMode"
        nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('upload')" name="upload">Auto Upload to confluence</md-nav-item>
        <md-nav-item md-nav-click="goto('copy')" name="copy">Manual Copy Paste</md-nav-item>
      </md-nav-bar>

      <md-card-content ng-if="confluenceMode == 'upload'">
        <div class="block" layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Confluence Page Id</label>
            <input ng-model="confluence.pageId" placeholder="PageId">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Confluence Page Title</label>
            <input ng-model="confluence.pageTitle" placeholder="PageTitle">
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="uploadtoConfluence($event)" ng-disabled="data === undefined">
            Upload
          </md-button>
        </div>
        <div class="confluence-preview">
          <h3>Preview</h3>
          <p ng-if="confluence.header">
            {{confluence.header}}
          </p>
          <table ng-repeat="(sheet, rows) in data">
            <tr ng-repeat="row in rows">
              <td ng-repeat="col in row" ng-style="col.style">
                {{col.value}}
              </td>
            </td>
          </table>
        </div>
      </md-card-content>

      <md-card-content ng-if="confluenceMode == 'copy'">
        <div class="block" layout-gt-sm="row">
          <p class="label">Copy paste to confluence: </p>
          <md-button class="md-raised md-primary" ng-click="toClipboard()">
            <md-tooltip md-direction="bottom">Paste the clipboard content to your confluence page code edition.</md-tooltip>
            Copy to clipboard
          </md-button>
        </div>
        <div class="clipboard-div">
          <md-button
               title="Copy to clipboard"
               aria-label="Copy code to clipboard"
               class="md-icon-button launch clipboard-button"
               ng-click="toClipboard()">
           <md-tooltip md-direction="left">Paste the clipboard content to your confluence page code edition.</md-tooltip>
            <md-icon md-svg-icon="static/images/clipboard.svg"></md-icon>
          </md-button>
          <pre id="confluenceData">{{source}}</pre>
        </div>
      </md-card-content>
    </md-card>

  </md-content>
<md-card class="footer">
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</md-card>
{% endraw %}
</body>
</html>
